# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- Libraries use for Data Scientists
- Tools for Data Science
- Data Sets

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. C++
6. Julia

Some of the commonly use libraries used bye Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|-------------|
|IBM Watson|
|Jupyter Notebooks|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [4]:
# this will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
María Herrera Díaz